[Desktop Entry]
Terminal=false
Icon=brain
Type=Application
Categories=Application;Utility;
Exec=env QT_SCALE_FACTOR=0.5 itksnap %f
MimeType=application/nifti;
Name=itksnap
Comment=Medical image viewer
